@using FashionStore.HelperClass
@model FashionStore.Models.Order
@{
    ViewData["Title"] = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container shadow" style="border-radius:14px">
    <h4 class="text-center">INFOR DELIVERED</h4>
    <table class="table">
        <thead>
        <th>#</th>
        <th>Fullname</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Payment</th>
        <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td id="orderid">@Model.OrderID</td>
                <td id="fullname">@Model.User.FullName</td>
                <td id="phonenumber">@Model.User.PhoneNumber</td>
                <td id="address">@Model.User.Address</td>
                <input value="@Model.User.Email" id="email" hidden />
                <td id="paymentstatus">
                    @(Model.IsPayment == PaymentStatus.PAID ? "Success" : "Awatting")
                </td>
                <td id="orderstatus">
                    @(Model.Status == OrderStatus.PROCESSING ? "Processing" : "Delivered")
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table mt-3">
        <thead>
        <th>#</th>
        <th>Product Name</th>
        <th>Size</th>
        <th>Quantity</th>
        <td>Price</td>
        </thead>
        <tbody>
            @foreach (var dt in Model.Details)
            {
                <tr>
                    <td>
                        @if (@dt.Product.Images.Any(x => x.IsCover))
                        {
                            var coverImage = @dt.Product.Images.First(x => x.IsCover);
                            <img src="@coverImage.UrlImage" alt="@dt.Product.ProductName" style="width:90px; height:90px">
                        }
                    </td>
                    <td>@dt.Product.ProductName</td>
                    <td>@dt.Size.SizeName</td>
                    <td>@dt.Quantity</td>
                    <td>@String.Format("{0:N0} VND", dt.Quantity * dt.Product.Price)</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <strong>Total:</strong> <span id="total"> @String.Format("{0:N0} VND", Model.Details.Sum(s => s.Quantity * s.Product.Price))</span></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center  pb-5 pt-3">
        <a class="text-uppercase btn btn-outline-secondary" asp-action="Index" asp-controller="Product">continue shoping</a>
        <a class="btn btn-primary text-light" asp-action="ExportOrderPdf" asp-controller="Report" asp-route-id="@Model.OrderID">Print Invoice</a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const order = document.getElementById("orderid");
        const fullname = document.getElementById("fullname");
        const phone = document.getElementById("phonenumber");
        const address = document.getElementById("address");
        const email = document.getElementById("email");
        const paymentstatus = document.getElementById("paymentstatus");
        const orderstatus = document.getElementById("orderstatus");
        const total = document.getElementById("total");

        const data = {
            orderid: order.textContent,
            name: fullname.textContent,
            phonenumber: phone.textContent,
            address: address.textContent,
            email: email.value,
            paymentstatus: paymentstatus.textContent.trim(),
            orderstatus: orderstatus.textContent.trim(),
            total: total.textContent.trim(),
        };
        postData(data);
    });

    async function postData(data) {
        const formData = new FormData();
        formData.append("entry.1714993077", data.orderid);
        formData.append("entry.1261881710", data.name);
        formData.append("entry.1395662613", data.phonenumber);
        formData.append("entry.1731174940", data.address);
        formData.append("entry.1405189743", data.email);
        formData.append("entry.1370585479", data.paymentstatus);
        formData.append("entry.336387655", data.orderstatus);
        formData.append("entry.1567688173", data.total);

        fetch("https://docs.google.com/forms/u/0/d/e/1FAIpQLSdwK46riG93bPqgTa3ViqoFyQZJSYJtquGE_jl-MoOqGnVPMw/formResponse", {
            method: "POST",
            body: formData,
            mode: "no-cors"
        });
    }
</script>
