@using FashionStore.HelperClass
@model FashionStore.Models.Order
@{
    ViewData["Title"] = "OrderCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container shadow" style="border-radius:14px">
    <h4 class="text-center">Infor DELIVERED</h4>
    <table class="table">
        <thead>
        <th>#</th>
        <th>Fullname</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Payment</th>
        <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrderID</td>
                <td>@Model.User.FullName</td>
                <td>@Model.User.PhoneNumber</td>
                <td>@Model.User.Address</td>
                <td>
                    @(Model.IsPayment == PaymentStatus.PAID ? "Success" : "Awatting")
                </td>
                <td>
                    @(Model.Status == OrderStatus.PROCESSING ? "Processing" : "Delivered")
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table mt-3">
        <thead>
        <th>#</th>
        <th>Product Name</th>
        <th>Size</th>
        <th>Quantity</th>
        <td>Price</td>
        </thead>
        <tbody>
            @foreach (var dt in Model.Details)
            {
                <tr>
                    <td>
                        @if (@dt.Product.Images.Any(x => x.IsCover))
                        {
                            var coverImage = @dt.Product.Images.First(x => x.IsCover);
                            <img src="@coverImage.UrlImage" alt="@dt.Product.ProductName" style="width:90px; height:90px">
                        }
                    </td>
                    <td>@dt.Product.ProductName</td>
                    <td>@dt.Size.SizeName</td>
                    <td>@dt.Quantity</td>
                    <td>@String.Format("{0:N0} VND", dt.Quantity * dt.Product.Price)</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <strong>Total:</strong> @String.Format("{0:N0} VND", Model.Details.Sum(s => s.Quantity * s.Product.Price))</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center  pb-5 pt-3">
        <a class="text-uppercase btn btn-outline-secondary">continue shoping</a>
        <a class="btn btn-primary text-light" asp-action="GenerateInvoice" asp-controller="Report">Print Invoice</a>
    </div>
</div>