@using X.PagedList.Mvc.Core
@model FashionStore.ModelsViews.MVShop
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageCount = Model.Products.PageCount;
    int currentPage = Model.Products.PageNumber;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form asp-action="Search">
                            <input type="text" placeholder="Search..." name="value">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @foreach(var category in Model.Categories)
                                                {
                                                    <li><a asp-action="FilterByCategory" asp-route-id ="@category.CategoryID">@category.CategoryName (@category.Products.Count)</a></li>
                                                }
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                @foreach(var brand in Model.Brands)
                                                {
                                                    <li><a href="#">@brand.BrandName (@brand.Products.Count())</a></li>
                                                }
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            @foreach(var size in Model.Sizes)
                                            {
                                                <label for="@size.SizeName">
                                                    @size.SizeName
                                                    <input type="radio" id="@size.SizeName">
                                                </label>
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Product</a>
                                            <a href="#">Bags</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Fashio</a>
                                            <a href="#">Clothing</a>
                                            <a href="#">Hats</a>
                                            <a href="#">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select name="typesoft" onchange="submitForm()" id="sorting">
                                    <option value="0">Default</option>
                                    <option value="1">Low To High</option>
                                    <option value="2">0VND - 500.000VND</option>
                                    <option value="3">500.000VND - 15.000.000VND</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach(var product in Model.Products)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@product.Images.FirstOrDefault(x => x.IsCover)?.UrlImage">
                                    <ul class="product__hover">
                                        <li><a asp-action="AddWishList" asp-controller="WishList" asp-route-productid ="@product.ProductID"><img src="~/img/icon/heart.png" alt=""></a></li>
                                        <li>
                                            <a href="#"><img src="~/img/icon/compare.png" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="~/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@product.ProductName</h6>
                                    <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@product.ProductID" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>@String.Format("{0:N0} VND", product.Price)</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Products.Count() == 0)
                {

                    <div class="row" id="page" hidden>
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                @for (int i = 1; i <= pageCount; i++)
                                {
                                    if (i == currentPage)
                                    {
                                        <a class="active" href="#">@i</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Index", "Product", new { page = i })">@i</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                   
                    <div class="row" id="page">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                @for (int i = 1; i <= pageCount; i++)
                                {
                                    if (i == currentPage)
                                    {
                                        <a class="active" href="#">@i</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Index", "Product", new { page = i })">@i</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
@* <script>
    // Serialize the Products object into JSON
    const fetchProducts = async () => {
        const response = await fetch('/Product/FilterByCategory');
        const products = await response.json();
        return products;
    };

    console.log(fetchProducts)

    fetchProducts().then(products => {
        // Get the page element
        const page = document.getElementById("page");
        console.log(products)
        // Check if products array is empty
        if (products.length === 0) {
            // Hide the page element
            page.style.display = "none";
        }
    }).catch(error => {
        console.error('Error fetching products:', error);
    });
</script> *@
<script>
    function submitForm() {
        var selectedOption = document.getElementById('sorting').value;
        window.location.href = '/Product/Sorting?typesoft=' + selectedOption;
    }
</script>
