@using Microsoft.AspNetCore.Identity
@model FashionStore.ShoppingModels.CartItem
@inject UserManager<ApplicationUser> _userManager;
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    var j = 0;
    var quantity = 0;
}

<style>
    .commentBox {
        background-color: #efefef;
        padding: 10px;
        border-radius: 10px;
    }

    .starFade {
        background-image: url('https://i.imgur.com/l1v62LE.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('https://i.imgur.com/l1v62LE.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    .starGlow {
        background-image: url('https://i.imgur.com/hHU12Q5.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('https://i.imgur.com/hHU12Q5.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

</style>

<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a asp-action="Index" asp-controller="Home" asp-area="default">Home</a>
                        <a asp-action="Index" asp-controller="Product" asp-area="default">Shop</a>
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        @foreach (var image in Model.Images)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(image.IsCover ? "active" : "")" data-toggle="tab" href="#tabs-@(image.ImageID)" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="@image.UrlImage">
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        @foreach (var image in Model.Images)
                        {
                            <div class="tab-pane @(image.IsCover ? "active" : "")" id="tabs-@(image.ImageID)" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="@image.UrlImage" alt="">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>@Model.Product.ProductName</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div>
                        <h3>@Model.Product.Price</h3>
                        <p>
                            @Model.Product.ProductDescription
                        </p>
                        <form method="post">
                            <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span>Size:</span>
                                    @foreach (var size in Model.ProductDetails)
                                    {
                                        <label asp-for="@Model.SizeID">
                                            @size.Size.SizeName
                                            <input type="radio" value="@size.SizeID" asp-for="@Model.SizeID">
                                        </label>
                                    }

                                </div>
                                <div class="product__details__option__color">
                                    <span>
                                        Quantity On Hand:
                                        <strong>  @Model.Product.QuantityOnHand</strong>
                                    </span>

                                    <p></p>
                                </div>
                            </div>
                            <div class="product__details__cart__option">

                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" asp-for="@Model.Quantity">
                                    </div>
                                </div>

                                <button type="submit" class="primary-btn"
                                        asp-action="AddToCart" asp-controller="Shopping"
                                        asp-route-id="@Model.ProductId" asp-route-quantity="@Model.Quantity" asp-route-sizeid="@Model.SizeID">
                                    add to cart
                                </button>
                            </div>
                        </form>

                        <div class="product__details__btns__option">
                            <a asp-action="AddWishList" asp-controller="WishList" asp-route-productid="@Model.ProductId"><i class="fa fa-heart"></i> add to wishlist</a>
                            <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <div>
                            <hr>
                            <h3 class="text-center font-weight-bold text-uppercase mb-3">Review</h3>
                            <div class="container shadow pb-3 pt-3 ps-3 pe-3" style="border-radius: 14px; background: #F1F1F1;">

                                @foreach (var comment in Model.Product.Comments)
                                {
                                    <div class="card mb-2" style="border-radius:11px">
                                        
                                        <div class="card-body">
                                            <label style="border-bottom:1px solid red" for="">@comment.FullName (@comment.Rate)</label>
                                            <p>@comment.Message</p>
                                        </div>
                                    </div>
                                }


                            </div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Comment
                                </dt>

                                <dd>
                                    @{
                                        var currentUser = await _userManager.GetUserAsync(User);
                                    }
                                    @if(currentUser != null)
                                    {
                                        <form asp-action="Comment">
                                            <div class="commentBox">

                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <div onmouseout="CRateSelected()">
                                                                <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <textarea name="Comment" id="Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">

                                                            <input type="hidden" name="UserID" value="@currentUser.Id" />
                                                            <input type="hidden" name="ProductID" value="@Model.ProductId" />
                                                            <input type="hidden" name="Rating" id="Rating" value="0" />
                                                            <input type="submit" value="Submit Comment" class="btn btn-warning" />

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    }
                                    
                                </dd>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">
                        <ul class="product__hover">
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-4">
                                <input type="radio" id="pc-4">
                            </label>
                            <label class="active black" for="pc-5">
                                <input type="radio" id="pc-5">
                            </label>
                            <label class="grey" for="pc-6">
                                <input type="radio" id="pc-6">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product-3.jpg">
                        <span class="label">Sale</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Multi-pocket Chest Bag</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$43.48</h5>
                        <div class="product__color__select">
                            <label for="pc-7">
                                <input type="radio" id="pc-7">
                            </label>
                            <label class="active black" for="pc-8">
                                <input type="radio" id="pc-8">
                            </label>
                            <label class="grey" for="pc-9">
                                <input type="radio" id="pc-9">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product-4.jpg">
                        <ul class="product__hover">
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Diagonal Textured Cap</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$60.9</h5>
                        <div class="product__color__select">
                            <label for="pc-10">
                                <input type="radio" id="pc-10">
                            </label>
                            <label class="active black" for="pc-11">
                                <input type="radio" id="pc-11">
                            </label>
                            <label class="grey" for="pc-12">
                                <input type="radio" id="pc-12">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Section End -->
<script>
    document.querySelectorAll('input[type="radio"][name="size"]').forEach(function (radio) {
        radio.addEventListener('change', function () {
            var selectedSizeId = this.getAttribute('data-size-id');
            var addToCartButton = document.getElementById('addToCartButton');
            addToCartButton.setAttribute('asp-route-sizeid', selectedSizeId);
        });
    });
    function SubmitComment() {
        if ($("#Rating").val() == "0") {
            alert("Please rate this service provider.");
            return false;
        }
        else {
            return true;
        }
    }

    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
</script>