@using Microsoft.AspNetCore.Identity
@model FashionStore.ShoppingModels.CartItem
@inject UserManager<ApplicationUser> _userManager;
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    var j = 0;
    var quantity = 0;
}

<style>
    .commentBox {
        background-color: #efefef;
        padding: 10px;
        border-radius: 10px;
    }

    .starFade {
        background-image: url('https://i.imgur.com/l1v62LE.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('https://i.imgur.com/l1v62LE.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    .starGlow {
        background-image: url('https://i.imgur.com/hHU12Q5.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('https://i.imgur.com/hHU12Q5.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    icon-shape {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
    }

    .icon-sm {
        width: 2rem;
        height: 2rem;
    }

    button {
        font-family: inherit;
        font-size: 18px;
        background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
        color: white;
        padding: 0.8em 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
    }

        button:hover {
            transform: translateY(-3px);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        }

        button:active {
            transform: scale(0.95);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        }

        button span {
            display: block;
            margin-left: 0.4em;
            transition: all 0.3s;
        }

        button svg {
            width: 18px;
            height: 18px;
            fill: white;
            transition: all 0.3s;
        }

        button .svg-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            margin-right: 0.5em;
            transition: all 0.3s;
        }

        button:hover .svg-wrapper {
            background-color: rgba(255, 255, 255, 0.5);
        }

        button:hover svg {
            transform: rotate(45deg);
        }

</style>

<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a asp-action="Index" asp-controller="Home" asp-area="default">Home</a>
                        <a asp-action="Index" asp-controller="Product" asp-area="default">Shop</a>
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        @foreach (var image in Model.Images)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(image.IsCover ? "active" : "")" data-toggle="tab" href="#tabs-@(image.ImageID)" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="@image.UrlImage">
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        @foreach (var image in Model.Images)
                        {
                            <div class="tab-pane @(image.IsCover ? "active" : "")" id="tabs-@(image.ImageID)" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="@image.UrlImage" alt="">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>@Model.Product.ProductName</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div>
                        <h3>@String.Format("{0:N0} VND", Model.Product.Price)</h3>
                        <p>
                            @Model.Product.ProductDescription
                        </p>
                        <form method="post" >
                            <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span>Size:</span>
                                    @foreach (var size in Model.ProductDetails)
                                    {
                                        <label>
                                            @size.Size.SizeName
                                            <input type="radio" value="@size.SizeID" name="size" data-size-id="@size.SizeID">
                                        </label>
                                    }
                                </div>
                                <div class="product__details__option__color">
                                    <span>
                                        Quantity On Hand:
                                        <strong>@Model.Product.QuantityOnHand</strong>
                                    </span>
                                </div>
                            </div>
                            <div class="product__details__cart__option">
                                <div class="input-group w-auto justify-content-end align-items-center quantity">
                                    <input type="button" value="-" class="button-minus border rounded-circle  icon-shape icon-sm mx-1 " data-field="quantity">
                                    <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-25">
                                    <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity">
                                </div>
                                @* <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" asp-for="@Model.Quantity" name="quantity">
                                    </div>
                                </div> *@
                                <button type="submit" class="primary-btn" id="addToCartButton" asp-action="AddToCart" asp-controller="Shopping"
                                        asp-route-id="@Model.ProductId" asp-route-quantity="@Model.Quantity" asp-route-sizeid="">
                                    Add to Cart
                                </button>
                            </div>
                        </form>

                        <div class="product__details__btns__option">
                            <a asp-action="AddWishList" asp-controller="WishList" asp-route-productid="@Model.ProductId"><i class="fa fa-heart"></i> add to wishlist</a>
                            <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <div>
                            <hr>
                            <div class="container shadow pb-3 pt-3 ps-3 pe-3 bg-light" style="border-radius: 14px;">

                                @foreach (var comment in Model.Product.Comments)
                                {
                                    <div class="card mb-2" style="border-radius:11px">
                                        
                                        <div class="card-body">
                                            <label class="font-weight-bold" style="text-shadow:3px 4px 7px rgba(81,67,21,0.8); color:black;">@comment.FullName -  </label> @comment.Rate <i class="fa fa-star text-warning"></i>
                                            <p>    @comment.Message</p>
                                        </div>
                                    </div>
                                }
                                @{
                                    var currentUser = await _userManager.GetUserAsync(User);
                                }
                                @if (currentUser != null)
                                {
                                    <form asp-action="Comment">
                                        <div class="commentBox">
                                            <hr />
                                            <div class="form-horizontal">
                                                <div class="form-group">

                                                    <label class="col-md-4 control-label">
                                                        Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <div onmouseout="CRateSelected()">
                                                            <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                                            <span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                                            <span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                                            <span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                                            <span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <textarea name="Comment" id="Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">

                                                        <input type="hidden" name="UserID" value="@currentUser.Id" />
                                                        <input type="hidden" name="ProductID" value="@Model.ProductId" />
                                                        <input type="hidden" name="Rating" id="Rating" value="0" />
                                                        <div class="text-center">
                                                            <button type="submit" class="text-center">
                                                                
                                                                <div class="svg-wrapper-1">
                                                                    <div class="svg-wrapper">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                                                            <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <span>Send</span>
                                                            </button>
                                                            @* <input type="submit" value="Submit Comment" class="btn btn-outline-success" /> *@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('input[type="radio"][name="size"]').forEach(function (radio) {
                radio.addEventListener('change', function () {
                    var selectedSizeId = this.getAttribute('data-size-id');
                    var addToCartButton = document.getElementById('addToCartButton');
                    addToCartButton.setAttribute('asp-route-sizeid', selectedSizeId);
                });
            });

            function SubmitComment() {
                if ($("#Rating").val() == "0") {
                    alert("Please rate this service provider.");
                    return false;
                } else {
                    return true;
                }
            }

            function CRate(r) {
                $("#Rating").val(r);
                for (var i = 1; i <= r; i++) {
                    $("#Rate" + i).attr('class', 'starGlow');
                }
                // unselect remaining
                for (var i = r + 1; i <= 5; i++) {
                    $("#Rate" + i).attr('class', 'starFade');
                }
            }

            function CRateOver(r) {
                for (var i = 1; i <= r; i++) {
                    $("#Rate" + i).attr('class', 'starGlow');
                }
            }

            function CRateOut(r) {
                for (var i = 1; i <= r; i++) {
                    $("#Rate" + i).attr('class', 'starFade');
                }
            }

            function CRateSelected() {
                var setRating = $("#Rating").val();
                for (var i = 1; i <= setRating; i++) {
                    $("#Rate" + i).attr('class', 'starGlow');
                }
            }
            function incrementValue(e) {
                e.preventDefault();
                var fieldName = $(e.target).data('field');
                var parent = $(e.target).closest('div');
                var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

                if (!isNaN(currentVal)) {
                    parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
                } else {
                    parent.find('input[name=' + fieldName + ']').val(0);
                }
            }

            function decrementValue(e) {
                e.preventDefault();
                var fieldName = $(e.target).data('field');
                var parent = $(e.target).closest('div');
                var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

                if (!isNaN(currentVal) && currentVal > 0) {
                    parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
                } else {
                    parent.find('input[name=' + fieldName + ']').val(0);
                }
            }

            $('.input-group').on('click', '.button-plus', function (e) {
                incrementValue(e);
            });

            $('.input-group').on('click', '.button-minus', function (e) {
                decrementValue(e);
            });


            window.CRate = CRate;
            window.CRateOver = CRateOver;
            window.CRateOut = CRateOut;
            window.CRateSelected = CRateSelected;
        });
    </script>
}